body {
    background-color: #262626;
}

body, a {
    color: #FAFAFA;
}

.card {
    background: #3b3b3b;
}

input {
    background: #3b3b3b !important;
    color: #FAFAFA !important;
}

a:hover {
    color: #9adefe;
}