body {
    background-color: #262626;
}

body, a, .navbar, .nav-link, .navbar-brand, .list-group-item {
    color: #FAFAFA;
}

.navbar-toggler {
    border-color: #0d6efd;
}

.nav-link.active, .nav-link:hover, .list-group-item:hover, .navbar-brand:hover {
    color: #d2d2d2 !important;
}

.card, .modal-content, .navbar, .list-group-item {
    background-color: #3b3b3b !important;
}

.btn-close {
    background-color: #FAFAFA;
}

input[type="text"], textarea {
    background: #3b3b3b !important;
    color: #FAFAFA !important;
    border-color: #6c757d !important;
}

a:hover {
    color: #9adefe;
}

.form-text {
    color: #d3d3d3;
}

.border-top {
    border-color: #000 !important;
}