body {
    background-color: #262626;
}

body, a {
    color: #FAFAFA;
}

.card, .modal-content {
    background: #3b3b3b;
}

.btn-close {
    background-color: #FAFAFA;
}

input[type="text"] {
    background: #3b3b3b !important;
    color: #FAFAFA !important;
}

a:hover {
    color: #9adefe;
}

.form-text {
    color: #d3d3d3;
}